@using OntarioCovidNumber.Core
@model OntarioCovidNumber.Web.Models.SummaryModel
@{
	ViewData["Title"] = "Daily Summary";
	var thisDate = @Model.Today;
}

<h1>@Model.Today.Today.Date.ToLongDateString()</h1>

<h3>Summary</h3>
<br />
<div class="row">
	<div class="col-sm-2 font-weight-bold">Total Cases:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.TotalCases</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("NEWCASES")">
		@Model.GetChangeDirection("TOTALCASES") @Math.Abs(thisDate.Today.NewCases) / @thisDate.TotalCaseChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>

	<div class="col-sm-2 font-weight-bold">Test Completed Today:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.TestsCompletedLastDay</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("TESTSCOMPLETEDLASTDAY")">
		@Model.GetChangeDirection("TESTSCOMPLETEDLASTDAY") @Math.Abs(thisDate.TestCompletedChangeAmount) / @thisDate.TestCompletedChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>

	<div class="col-sm-2 font-weight-bold">New Cases:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.NewCases</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("NEWCASES")">
		@Model.GetChangeDirection("NEWCASES") @Math.Abs(thisDate.NewCasesChangeAmount) / @thisDate.NewCasesChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>
	<div class="col-sm-2 font-weight-bold">Recoveries:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.NewResolved</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("NEWRESOLVED")">
		@Model.GetChangeDirection("NEWRESOLVED") @Math.Abs(thisDate.NewResolvedChangeAmount) / @thisDate.NewResolvedChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>
	<div class="col-sm-2 font-weight-bold">New Deaths:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.NewDeaths</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("NEWDEATHS")">
		@Model.GetChangeDirection("NEWDEATHS") @Math.Abs(thisDate.NewDeathsChangeAmount) / @thisDate.NewDeathsChangePercent.ToString("N")%
	</div>
</div>

<br />
<br />

<h3>Mortality Numbers</h3>
<br />
<div class="row">
	<div class="col-sm-3 font-weight-bold">Total Deaths:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.Deaths</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("DEATHS")">
		@Model.GetChangeDirection("DEATHS") @Math.Abs(thisDate.Today.NewDeaths) / @thisDate.DeathsChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>
	<div class="col-sm-3 font-weight-bold">Overall Mortality Rate (tested):</div>
	<div class="col-sm-1 text-left">@thisDate.Today.TestMortalityRate.ToString("#.000")%</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("TESTMORTALITYRATE")">
		<text title="@(Math.Abs(thisDate.TestMortalityRateChangeAmount))">@Model.GetChangeDirection("TESTMORTALITYRATE") @Math.Abs(thisDate.TestMortalityRateChangeAmount).ToString("#.000")%</text>
	</div>
	<div class="w-100"></div>
	<div class="col-sm-3 font-weight-bold">Overall Mortality Rate (positive):</div>
	<div class="col-sm-1 text-left">@thisDate.Today.PositiveMortalityRate.ToString("#.000")%</div>
	<div class="col-sm-2 text-left @Model.GetTodayVersusYesterdayDisplayClass("POSITIVEMORTALITYRATE")">
		<text title="@(Math.Abs(thisDate.PositiveMortalityRateChangeAmount))">@Model.GetChangeDirection("POSITIVEMORTALITYRATE") @Math.Abs(thisDate.PositiveMortalityRateChangeAmount).ToString("#.000")%</text>
	</div>
	<div class="col-sm-4 font-weight-bold">
		1 in <text>@(Math.Round(100/thisDate.Today.PositiveMortalityRate,0).ToString("#"))<sup title="Rounded to nearest whole number">*</sup></text> who test positive for covid die
	</div>

	<div class="w-100"></div>

	<div class="col-sm-3 font-weight-bold">Total Provincial Mortality Rate:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.ProvincialMortalityRate.ToString("#.000")%</div>
	<div class="col-sm-2 text-left @Model.GetTodayVersusYesterdayDisplayClass("PROVINCIALMORTALITYRATE")">
		<text title="@(Math.Abs(thisDate.ProvincialMortalityRateChangeAmount))">@Model.GetChangeDirection("PROVINCIALMORTALITYRATE") @Math.Abs(thisDate.ProvincialMortalityRateChangeAmount).ToString("#.000")%</text>
	</div>
	<div class="col-sm-5 text-left">
		Influenza/Pneumonia 2019 Mortality Rate: @( ((2688 / (decimal)CovidDayData.OntarioPopulation)*100).ToString("#.000"))%
		<sup><a asp-area="" asp-controller="Overall" asp-action="NoteOnFluMortality" title="A brief explanation of how this number was derived">explanation</a></sup>
	</div>

	<div class="w-100"></div>

	<div class="col-sm-3 font-weight-bold">2021 Provincial Mortality Rate:</div>
	<div class="col-sm-1 text-left">@Model.Mortality2021.ToString("#.000")%</div>

	<div class="w-100"></div>

	<div class="col-sm-3 font-weight-bold">2020 Provincial Mortality Rate:</div>
	<div class="col-sm-1 text-left">@Model.Mortality2020.ToString("#.000")%</div>
</div>

<br />
<br />

<h3>Hospitalization Numbers</h3>
<br />
<div class="row">
	<div class="col-sm-2 font-weight-bold">Hospitalized:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.InHospital</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("INHOSPITAL")">
		@Model.GetChangeDirection("INHOSPITAL") @Math.Abs(thisDate.InHospitalChangeAmount) / @thisDate.InHospitalChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>
	<div class="col-sm-2 font-weight-bold">In ICU Unit:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.InIcu</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("INICU")">
		@Model.GetChangeDirection("INICU") @Math.Abs(thisDate.InIcuChangeAmount) / @thisDate.InIcuChangePercent.ToString("N")%
	</div>
	<div class="w-100"></div>
	<div class="col-sm-2 font-weight-bold">On Ventilator:</div>
	<div class="col-sm-1 text-left">@thisDate.Today.OnVentilator</div>
	<div class="col-sm-4 text-left @Model.GetTodayVersusYesterdayDisplayClass("ONVENTILATOR")">
		@Model.GetChangeDirection("ONVENTILATOR") @Math.Abs(thisDate.OnVentilatorChangeAmount) / @thisDate.OnVentilatorChangePercent.ToString("N")%
	</div>
</div>

<br />
<br />

